<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-rfid" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Rfid</name>
    <description>Cordova Rfid Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,rfid</keywords>

    <js-module name="rfid" src="www/rfid.js">
        <clobbers target="rfid" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Rfid">
                <param name="android-package" value="com.realidtek.rfid.Rfid" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.WRITE_CONTACTS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
            <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
            <uses-permission android:name="android.permission.BATTERY_STATS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
            <uses-permission android:name="android.permission.READ_SYNC_STATS" />
            <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        
        <source-file src="src/android/Rfid.java" target-dir="src/com/realidtek/rfid" />
        <source-file src="src/android/DFRfid.java" target-dir="src/com/realidtek/rfid" />
        <source-file src="src/android/FileUtils.java" target-dir="src/com/realidtek/rfid" />
        <source-file src="src/android/ScanCycleDataReceiver.java" target-dir="src/com/realidtek/rfid" />
        <source-file src="src/android/utils/Datetime.java" target-dir="src/com/realidtek/rfid/utils" />
        <source-file src="src/android/utils/FileHelper.java" target-dir="src/com/realidtek/rfid/utils" />
        <source-file src="src/android/utils/RFIDLog.java" target-dir="src/com/realidtek/rfid/utils" />
        <source-file src="src/android/utils/Text.java" target-dir="src/com/realidtek/rfid/utils" />

        <source-file src="src/android/serialportmodule.jar" target-dir="libs" />
        <source-file src="src/android/armeabi/libSerialPort.so" target-dir="libs/armeabi" />
    </platform>
</plugin>
